ion-note > p {
  margin: 0;
}
.orders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  gap: 10px;
  align-items: start;
}

.ion_toolbar{
  display: flex;  
}
.ion_searchbar{
  width: 90%;
}

@media (max-width: 343px) {
  .orders {
    grid-template-columns: auto
  }
}

