ion-note > p {
  margin: 0;
}
.orders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
  gap: 10px;
  align-items: start;
}

ion-header {
  display: grid;
  grid-template-areas: 
  "headerToolbar headerToolbar"
  "searchToolbar buttonsToolbar"
}
ion-header .headerToolbar{grid-area: headerToolbar;}
ion-header .searchToolbar{grid-area: searchToolbar;}
ion-header .buttonsToolbar{grid-area: buttonsToolbar;}

@media (max-width: 500px) {
  .orders {
    grid-template-columns: auto
  }
  ion-header {
    display: grid;
    grid-template-areas: 
    "headerToolbar"
    "searchToolbar"
    "buttonsToolbar"
  }
}
