<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Reset password' | translate:locale.language}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(oldPassword.value, newPassword.value, newPasswordVerify.value)">
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="eye"></ion-icon>
        <ion-label>{{ 'Show password' | translate:locale.language }}</ion-label>
        <ion-toggle slot="end" name="showPassword" color="primary" (ionChange)="showPassword = !showPassword" [checked]="showPassword"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'Old password' | translate:locale.language }}</ion-label>
        <ion-input formControlName="oldPassword" [type]="showPassword ? 'text' : 'password'" #oldPassword></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'New password' | translate:locale.language }}</ion-label>
        <ion-input formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" #newPassword></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'Confirm new password' | translate:locale.language }}</ion-label>
        <ion-input formControlName="newPasswordVerify" [type]="showPassword ? 'text' : 'password'" #newPasswordVerify></ion-input>
      </ion-item>
      <div class="ion-padding">
        <ion-button type="submit" [disabled]="!updatePasswordForm.valid" expand="block">
          {{ 'Update password' | translate:locale.language}}
        </ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>