<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'Order Details'| translate:locale.language}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="options()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <ion-text [color]="order.status === 'completed' ? 'success' : 'primary'">
        <h1>
          {{ order.status }}
        </h1>
      </ion-text>
      <p>
        {{order.orderId}}
        <span *ngIf="order.orderDate">
          {{'was placed on'| translate:locale.language}} {{ order.orderDate | showDate }}
        </span>
      </p>
    </ion-label>
  </ion-item>
  <ion-item-group *ngIf="customerDataProvider.ifInStoreItems(order)">
    <ion-item-divider color="light">
      <ion-icon name="storefront-outline" slot="start"></ion-icon>
      <ion-label>{{'In store' | translate:locale.language}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let product of customerDataProvider.getInStoreItems(order)" lines="none">
      <ion-thumbnail slot="start">
        <image [src]="product.image"></image>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <p *ngIf="product?.brandName" class="overline" [innerHtml]="product?.brandName"></p>
        <h2 [innerHtml]="product?.itemDescription"></h2>
        <ul class="feature-list main-feature selected-feature">
          <li>
            <label>{{product.color}}</label>
            <span *ngIf="product?.color && product.size">|</span>
            <label>{{product.size}}</label>
          </li>
        </ul>
        <p>{{'Qty' | translate:locale.language }} {{product?.quantity}}</p>
      </ion-label>
      <ion-note slot="end" class="caption">
        {{ product.itemTotal| currency: order.currencyUomId }}
      </ion-note>
    </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="customerDataProvider.ifDeliveryItems(order)">
    <ion-item-divider color="light">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{'Delivery' | translate:locale.language}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let product of customerDataProvider.getDeliveryItems(order)" lines="none">
      <ion-thumbnail slot="start">
        <image [src]="product.image"></image>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <p *ngIf="product?.brandName"  class="overline" [innerHtml]="product?.brandName"></p>
        <h2 [innerHtml]="product?.itemDescription"></h2>
        <ul class="feature-list main-feature selected-feature">
          <li>
            <label>{{product.color}}</label>
            <span *ngIf="product?.color && product.size">|</span>
            <label>{{product.size}}</label>
          </li>
        </ul>
        <p>{{'Qty' | translate:locale.language }} {{product?.quantity}}</p>
        <p>{{ product.shippingAddress.address1}}</p>
      </ion-label>
      <ion-note slot="end" class="caption">
        {{ product.itemTotal| currency: order.currencyUomId }}
      </ion-note>
    </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="customerDataProvider.ifStorePickupItems(order)">
    <ion-item-divider color="light">
      <ion-icon name="map-outline" slot="start"></ion-icon>
      <ion-label>{{'Pick up items' | translate:locale.language}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let product of customerDataProvider.getStorePickupItems(order)" lines="none">
      <ion-thumbnail slot="start">
        <image [src]="product.image"></image>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <p *ngIf="product?.brandName" class="overline" [innerHtml]="product?.brandName"></p>
        <h2 [innerHtml]="product?.itemDescription"></h2>
        <ul class="feature-list main-feature selected-feature">
          <li>
            <label>{{product.color}}</label>
            <span *ngIf="product?.color && product.size">|</span>
            <label>{{product.size}}</label>
          </li>
        </ul>
        <p>{{'Qty' | translate:locale.language }} {{product?.quantity}}</p>
        <p>{{ product.facilityName}}</p>
      </ion-label>
      <ion-note slot="end" class="caption">
        {{ product.itemTotal| currency: order.currencyUomId }}
      </ion-note>
    </ion-item>
  </ion-item-group>
  <ion-list>
    <ion-item lines="none">
      {{'Total'| translate:locale.language}}
      <ion-note slot="end" color="primary" class="caption">
        {{ order.grandTotal | currency: order?.currencyUom }}
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let payment of order.payments" lines="none">
      {{payment.methodDescription}}
      <ion-note class="caption" slot="end"
        >{{payment.amount | currency: order.currencyUomId}}</ion-note
      >
    </ion-item>
  </ion-list>
</ion-content>
