.ion_tabs_bar{
    width: 50%;
    // background-color: black;
    align-self: center;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgb(0,0,0, 50%);
    margin-bottom: 10px;
    min-width: 300px;
    position: absolute;
    bottom: 0;
  }
