.chart {
    height: 50vh;
    max-height: 500px;
}
.orders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(343px, 1fr));
    gap: 10px;
    align-items: start;
}
@media (max-width: 343px) {
    .orders {
        grid-template-columns: auto
    }
}
ion-content {
    --padding-bottom: 100px;
}